@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #ffffff;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #ffffff;
}

h4 {
  font-size: 30px;
  color: #317b60
}


h8 {
  font-size: 30px;
  color: #ffffff
}

h7 {
  font-size: 33px;
  color: hsl(0, 0%, 100%);
}

h5 {
  font-size: 17px;
  color:#3c866b;
}

h9 {
  padding-top: 7px;
  font-size: 27px;
  color:#2dbb87;
}

h6 {
  font-weight: 700;
  font-size: 13px;
}

p {
  font-size: 17px;
  color: #317b60;
  margin: 15px 10 20px 10;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}


#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#headerr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}



#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
}

#navbar li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 1000;
  color: #1a1a1a
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 100%;
  height: 5px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 0px;
}

#mobile {
  display: none;
  align-items: center;
}

#close{
  display: none;
}

#hero {
  background-image: url("scr10.jpg");
  height: 45vh;
  width: 100%;
  background-size:  cover;
  background-position:  top 47% right 0;
  padding: 0 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 9px;
  color: #088178;
}

#hero h1 {
  padding-bottom: 13px;
  color: #088178;
}

#hero h7 {
  padding-bottom: 15px;
  color: #ffffff;
}

#hero button {
  background-image: url("scr3.jpg");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14 px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.divider {
  border: 3px solid #088178;
  margin: 20px 0; 
}

#product1{
  text-align: center;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 3px solid #c5eaca; 
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(147, 143, 143, 0.06);
  margin: 15px 0;
  transition: 0.2s ease;
  background-color: #eeeee6;
  padding: 20px;
}

#product1 .pro:hover {
  box-shadow: 3px 3px 3px 3px;
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#produs1 .pro .des{
  text-align:start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i{
  font-size: 12px;
  color:rgb(243, 181, 25);
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}


.addB {
 background-color: #e6de13;
  color: #7f7f7e; 
  padding: 5px 10px; 
  border: none;
  border-radius: 30px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #525252;
  }
}

.Butt{
  text-align: right;
}

.Buy {
  align-self: center;
  align-items: end;
  background-color:#317b60;
  color: #ffffff; 
  padding: 7px 10px; 
  border: none;
  border-radius: 30px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}


.container {
  max-width: 90rem;
  margin: auto;
  padding: 1.5rem 8rem;
}
.w-6 {
  width: 2rem;
  height: 2rem;
}
.h-6 {
  fill: rgb(239, 140, 1);
}
/* top_nav */
.top_nav {
  width: 100%;
  height: 4rem;
  background-color: var(--colo-dark-1);
}
.top_nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_nav_wrapper {
  display: flex;
  color: var(--colo-white-1);
}
.tap_nav_p {
  font-size: 1.4rem;
  font-weight: 400;
}
.top_nav_link {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--colo-white-1);
}
/* navbaar */
.nav {
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid var(--colo-dark-2);
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
}
.nav_items {
  display: flex;
}
.nav_logo {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--colo-dark-1);
}
.nav_item {
  margin: 0rem 0.5rem;
}
.nav_link {
  padding: 0.6rem;
  color: var(--colo-dark-1);
}
.nav_form {
  padding: 0.8rem;
  background-color: var(--colo-white-2);
  display: flex;
  align-items: center;
}
.nav_input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
}
.nav_search {
  cursor: pointer;
}
.nav_items {
  display: flex;
  align-items: center;
}
.nav_heart {
  margin-left: 1rem;
  cursor: pointer;
}
.nav_cart {
  margin-left: 1rem;
  cursor: pointer;
}

/* header */
.header_container {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
.header_filter {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header_filter_link {
  color: var(--colo-dark-1);
}

@media (max-width:799px){
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active{
    right: 0px;
  }

  #navbar li{
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color:#222;
    font-size: 24px;
  }

  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
}


/* flash sale */

.section_category_p {
  border-left: 1.4rem solid var(--colo-primary);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--colo-primary);
  font-size: 1.3rem;
}
.section_header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4rem;
}
.section_title {
  margin-right: 2rem;
  font-size: 2.6rem;
}
#demo {
  font-size: 1.8rem;
}
/* swiper slide */
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards */
.card {
  margin-bottom: 5rem;
}
.card_top {
  width: 100%;
  height: 22rem;
  position: relative;
}
.card_img {
  width: 100%;
  height: 100%;
}
.card_tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9;
  background-color: var(--colo-primary);
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--colo-white-1);
  border-radius: 0.5rem;
}
.card_top_icons {
  position: absolute;
  z-index: 9;
  top: 1rem;
  right: 1rem;
}
.card_top_icon {
  width: 3.4rem;
  height: 3.4rem;
  padding: 1rem;
  background-color: var(--colo-white-1);
  border-radius: 10rem;
}
.card_body {
  margin-top: 1rem;
  text-align: left;
}
.card_title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.card_price {
  color: var(--colo-primary);
  margin-bottom: 1rem;
}
.card_ratings {
  display: flex;
}
.card_stars {
  margin-right: 1rem;
}
.container_btn {
  width: 100%;
  text-align: center;
}
.container_btn_a {
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  padding: 1.6rem 3rem;
  border-radius: 0.5rem;
}

/* categories */
.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2rem;
}
.category {
  text-align: center;
  padding: 3rem;
  border: 1px solid var(--colo-white-2);
  transition: all 0.3s ease;
  cursor: pointer;
}
.category:hover {
  background-color: var(--colo-primary);
}
.category_icon {
  width: 3.5rem;
  height: auto;
}

/* trending */
.trending {
  background-color: var(--colo-dark-1);
  padding: 8rem 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.trending_img {
  width: 100%;
}
.trending_p {
  color: var(--color-green);
}
.trending_title {
  color: var(--colo-white-1);
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.trending_btn {
  background-color: var(--color-green);
  padding: 1rem 2rem;
  color: var(--colo-white-1);
}
.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
}

/* gallery */
.gallery_item {
  width: 100%;
  position: relative;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 4vw);
  grid-gap: 1.5rem;
}
.gallery_item {
  width: 100%;
}
.gallery_item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_item_content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 9;
  width: 70%;
}
.gallery_item_title {
  color: var(--colo-white-1);
  font-size: 2.2rem;
}
.gallery_item_p {
  color: var(--colo-white-1);
  font-size: 1.4rem;
  margin: 1rem 0rem;
}
.gallery_item_link {
  color: var(--colo-white-1);
  text-decoration: underline;
}
.gallery_item_1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 8;
}
.gallery_item_2 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery_item_3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}
.gallery_item_4 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 8;
}

/* services */
.services_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 3rem;
}
.service {
  text-align: center;
}
.service_title {
  margin: 1.5rem 0rem;
}
/* footer */
.footer {
  margin-top: 10rem;
  background-color: var(--colo-dark-1);
}
.footer_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  padding: 5rem 0rem;
  color: var(--colo-white-1);
}
.footer_logo {
  font-size: 3rem;
  color: var(--colo-white-1);
  font-weight: 700;
}
.footer_p {
  margin-top: 1.2rem;
}
.footer_item_titl {
  margin-bottom: 1.2rem;
}
.footer_list_item {
  margin: 0.5rem 0rem;
}
.footer_bottom_container {
  width: 100%;
  text-align: center;
}
.footer_copy {
  color: var(--colo-dark-2);
  padding: 1.5rem 0rem;
}

@media only screen and (max-width: 1070px) {
  .header_container {
    flex-direction: column;
  }
  .header_filter {
    display: none;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger > svg {
  width: 4.5rem;
  height: 4.5rem;
}
@media only screen and (max-width: 800px) {
  .top_nav {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .nav_items {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* mobile nav */
.mobile_nav {
  background-color: var(--colo-white-1);
  position: absolute;
  z-index: 99;
  height: 100vh;
  border-right: 1px solid var(--colo-dark-2);
  transition: all 0.5s ease;
}
.mobile_nav_item {
  padding: 2rem 10rem 2rem 5rem;
  border-bottom: 1px solid var(--colo-white-2);
}
.mobile_nav_link {
  color: var(--colo-dark-1);
  padding: 1.2rem 5rem 1.2rem 0rem;
}
.mobile_nav_hide {
  display: none;
}

/* Cart page */
.cart {
  width: 100%;
}
.cart_header {
  width: 100%;
  padding: 1.5rem;
  background-color: #c1c8c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.cart_item {
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: #aec2be;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.cart_product {
  display:flex;
  flex-direction: column;
}
.cart_img {
  width: 5%;
  align-self:flex-end;
}
.cart_total {
  margin-top: 2rem;
  text-align: right;
}
.add_to_cart {
  padding: 1rem 2rem;
  background-color: #c1c8c7;
  color: #c1c8c7;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 2rem;
  align-items: center;
} 


/* Authentications */
.auth_container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 90vh;
}
.auth_img {
  width: 50%;
  height: 100%;
}
.auth_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.auth_content {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .auth_img {
    display: none;
  }
  .auth_content {
    width: 100%;
  }
}

.auth_content {
  padding: 10rem;
}
.form_title {
  font-size: 3.2rem;
}
.auth_p {
  margin: 2rem 0rem;
}
.form_group {
  width: 100%;
}
.form_input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 0.6rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--colo-dark-2);
}
.form_pass {
  margin-bottom: 1rem;
}
.form_btn {
  width: 100%;
  padding: 1.3rem;
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  border: none;
  outline: none;
  margin-bottom: 1.5rem;
}
.form_link {
  color: var(--colo-white-1);
}
.form_group > span {
  margin-top: 2rem;
}

.quantity {
  display: inline-block;
  width:  25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}

.remove-button {
  background-color: #25b484;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
}

.remove-button:hover {
  background-color: #d3e018;
  cursor: pointer; 
}



/*tralala */

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
} 

footer .logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px;
}

footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover
footer a:hover{
  color:#088178;
}

footer .copyright{
  width: 100%;
  text-align: center;
}


/*Reviews*/


#head_rw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 30px;
  

  }

.rev-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.note{
  font-size: 1.1rem;
  color: rgb(19, 19, 19);
  font-style: italic;
}

.reviews{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.head-review{
  margin: 1.75rem auto;
  width: 100px;
  height: 100px;
}

.imggg {
    width: 110%;
    align-self:flex-end;
}

.body-review{
  background-color: rgb(238, 238, 238);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-review{
  color: red;
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}




input-reviw {
  margin: 20px 10px 20px 10px;
}
.input-reviw label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-reviw input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}











@media (max-width: 678px){
  .review{
    margin-top: 1.5rem
  }

  .header {
    padding: 50px;
}

form, .content {
  padding: 50px;

}

}



@media (max-width: 477px) {
  
  form, .content {
    width: 50%;
    padding: 3px;
}


.header {
  width: 50%;
  padding: 20px;
}

.btn {
  padding: 10px;
  width: 40%;
}

/*cart*/

#header {
  padding: 10px 30px;
}

#headerr {
  width: 160%;
  padding: 20px 20px;
  overflow-x: auto;
}



.cart {
  width: 300%;
}

h5{
  font-size: 10px;
  margin: 5px 5 10px 5;
}

.cart_header {
  width: 100%;
  padding: 0.9rem;
}

.cart_item {
  padding: 0.2rem;
  border-radius: 10px;
  align-items: center;
}
.cart_product {
  align-self: start;
}

.cart_img {
  width: 10%;
  align-self:flex-end;
}
.cart_total {
  margin-top: 5rem;
}



p {
  font-size: 13px;
  margin: 5px 5 10px 5;
}

#head_rw{
  padding: 10px 30px;
}


  h1{
    font-size: 40px;
  }

  h2{
    font-size: 32px;
  }

  h4{
    font-size: 25px;
  }

  h7{
    font-size: 32px;
  }

  #hero{
    padding: 0 20px;
    background-position: 55%;
  }
}